:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fffafb;
}

a {
  text-decoration: none;
  color: #121111;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 600px;
  height: auto;
  margin-top: -330px;
  border-bottom-left-radius: 200px;
}

.search-btn:hover {
  color: #d13f5c;
  border: 1px solid #d13f5c;
}

@media screen and (max-width: 1200px) {
  .hero-banner-img {
    display: none;
  }
}
