:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fffafb;
}

a {
  text-decoration: none;
  color: #121111;
}

::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 600px;
  height: auto;
  margin-top: -330px;
  border-bottom-left-radius: 200px;
}

@media screen and (max-width: 1200px) {
  .hero-banner-img {
    display: none;
  }
}

.search-btn:hover {
  color: #d13f5c;
  border: 1px solid #d13f5c;
}

.bodyPart-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d13f5c;
  font-size: 25px;
  position: absolute;
  bottom: -40px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.1, 1.1);
}
